<h5>Employee  Registeration</h5>

<div class="row">

<div class="col-3"></div>
<div class="col-6">
<form [formGroup]="empregisterForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="firstName">Firstname</label>
        <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && this.empregisterForm.controls['firstName'].errors }" />
        <div *ngIf="submitted && this.empregisterForm.controls['firstName'].errors" class="invalid-feedback">
            <div *ngIf="this.empregisterForm.controls['firstName'].errors['required']">Firstname is required</div>
        </div>
    </div>

    <div class="form-group">
        <label for="middileName">Middilename</label>
        <input type="text" formControlName="middileName" class="form-control" />
    </div>

    <div class="form-group">
        <label for="surName">Surname</label>
        <input type="text" formControlName="surName" class="form-control" />
    </div>
    <div class="form-group">
        <label for="emailID">Email</label>
        <input type="text" formControlName="emailID" class="form-control" [ngClass]="{ 'is-invalid': submitted && this.empregisterForm.controls['emailID'].errors }"/>
        <div *ngIf="submitted && this.empregisterForm.controls['emailID'].errors" class="invalid-feedback">
            <div *ngIf="this.empregisterForm.controls['emailID'].errors['required']">Email is required</div>
        </div>
    </div>

    <div class="form-group">
        <label for="mobileNo">Mobile</label>
        <input type="text" formControlName="mobileNo" class="form-control" [ngClass]="{ 'is-invalid': submitted && this.empregisterForm.controls['mobileNo'].errors }" />
        <div *ngIf="submitted && this.empregisterForm.controls['mobileNo'].errors" class="invalid-feedback">
            <div *ngIf="this.empregisterForm.controls['mobileNo'].errors['required']">Mobileno  is required</div>
        </div>
    </div>

    <div class="form-group">
        <label for="add1">Address1</label>
        <input type="text" formControlName="add1" class="form-control"/>
    </div>

    <div class="form-group">
        <label for="add2">Address2</label>
        <input type="text" formControlName="add2" class="form-control"/>
    </div>

    <div class="form-group">
        <label for="add3">Address3</label>
        <input type="text" formControlName="add3" class="form-control"/>
    </div>

    <div class="form-group">
        <label for="city">City</label>
        <input type="text" formControlName="city" class="form-control"/>
    </div>

    <div class="form-group">
        <label for="country">Country</label>
        <input type="text" formControlName="country" class="form-control"/>
    </div>

    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Register
        </button>
        <a routerLink="/emplist" class="btn btn-link">Cancel</a>
    </div>
</form>
</div>
<div class="col-3"></div>
</div>
