<div class="row">
  <div class="col"></div>
  <div class="col">
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && this.loginForm.controls['username'].errors }" />
        <div *ngIf="submitted && loginForm.controls['username'].errors" class="invalid-feedback">
            <div *ngIf="loginForm.controls['username'].errors['required']">Username is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && loginForm.controls['password'].errors }" />
        <div *ngIf="submitted && loginForm.controls['password'].errors" class="invalid-feedback">
            <div *ngIf="loginForm.controls['password'].errors['required']">Password is required</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Login
        </button>
        <a routerLink="/register" class="btn btn-link">Register</a>
    </div>
</form>
  </div>
  <div class="col"></div>
</div>

