
<div class="panel panel-default">
<div class="panel-heading">
  <h5> Profile  of : {{this.empData.firstName}} {{this.empData.middleName}} {{this.empData.surName}}
  </h5>


<div class="panel-body">

<div class="row"></div>
<div class="row">
  <div class="col">
    First Name :
  </div>
  <div class="col">
    {{this.empData.firstName}}
  </div>
  <div class="col">
    Last Name :
  </div>
  <div class="col">
    {{this.empData.surName}}
  </div>


</div>
<div class="row">
  <div class="col">
   Organization :
  </div>
  <div class="col">
    {{this.empData.orgName}}
  </div>
  <div class="col">
    Email ID :
  </div>
  <div class="col">
    {{this.empData.emailID}}
  </div>


</div>
<div class="row">
  <div class="col-3">
    Address
  </div>
  <div class="col-9">
    {{this.empData.address}}
  </div>

</div>

<div class="row">
  <div class="col">
   Mobile No :
  </div>
  <div class="col">
    {{this.empData.mobileNo}}
  </div>
  <div class="col">

  </div>
  <div class="col">

  </div>


</div>
<div class="row"></div>


</div>

</div>
<div class="row">
  <div class="col-10">

    <h5>Claim's  Details</h5>
  </div>
  <div class="col-2 text-right">
    <button type="button" class="btn btn-primary" (click)="addClaim()">Add New Claim</button>
  </div>

</div>
<div class="row">

  <app-claim-list  [employeID]="id" (onUpdateClaimClick)="onUpdateClaim($event)">

  </app-claim-list>

</div>

</div>
