
<div class="row">.</div>
<div class="row">
  <div class="col-10">
    <h5>Employee  List</h5>
  </div>
  <div class="col-2 text-right">
    <button type="button" class="btn btn-primary" (click)="addEmployee()">Add New Employee</button>
  </div>

</div>
<div class="row">
  <app-grid-table [headers]="headers" [rows]="rows" [showCheckBox]="false" [showViewDetail]="true" [showJsonViewer]="true" [showPostTOFHIRServer]="true"
     (onCheckAll)="setAll($event)"
     (onViewDetailClick)="viewDetailCall($event)"
     (onPostTOFHIRServerClick)="postEmpToFHIR($event)"
     (onJsonViewerClick)="showFHIRData($event)">
    </app-grid-table>
</div>
