<table id="users">
  <tr>
    <th *ngIf="showCheckBox"> <input type="checkbox" (click)="checkAllOptions()"/>  </th>
    <th *ngFor = "let column of visibalHeader">
      {{column.displayText}}
    </th>
    <th *ngIf="showViewDetail">
    </th>
    <th *ngIf="showJsonViewer">
    </th>
    <th *ngIf="showPostTOFHIRServer">
    </th>
    <th *ngIf="showUpdateClaim">
    </th>
  </tr>

  <tr *ngFor = "let row of rows">
    <td *ngIf="showCheckBox"> <input type="checkbox" [(ngModel)]="row['check']" [value]="row['check']" (click)="checkOption()"/> </td>
    <td *ngFor = "let column of visibalHeader">
      {{row[column.prop]}}
    </td>
    <td *ngIf="showViewDetail">

      <button  type="button" class="btn btn-primary" (click)="onViewDetailButtonClick(row)">View Detail</button>





    </td>
    <td *ngIf="showJsonViewer">
      <button  type="button" class="btn btn-primary" (click)="onJsonViewerButtonClick(row)">View FHIR Data</button>

    </td>

    <td *ngIf="showPostTOFHIRServer">
      <button type="button" class="btn btn-primary" (click)="onPostTOFHIRServerButtonClick(row)">
        <!-- <span *ngIf="{{getDynamicID(row)}}" class="spinner-border spinner-border-sm mr-1"></span> -->
        Post To FHIR Server
      </button>
    </td>

    <td *ngIf="showUpdateClaim">
      <button type="button" class="btn btn-primary" (click)="onUpdateClaimButtonClick(row)">
        Update Claim
      </button>
    </td>



  </tr>

</table>
