<h3>
    Welcome to User List!
    <p *ngFor='let el of userData'>
       {{el.orgName}}<br>
       {{el.address}}<br>
       {{el.emailID}}<br>
       {{el.password}}<br>
       {{el.mobileNo}}<br>
       {{el.roleID}}
    </p>
</h3>