<div class="row">.</div>
<div class="row">

  <div class="col-10">
    <h5> Registerd User  </h5>
  </div>
  <div class="col-2 text-right">
    <button type="button" class="btn btn-primary" (click)="addUser()">Add New User</button>
  </div>

</div>
<div class="row">
  <app-grid-table [headers]="headers" [rows]="rows" [showViewDetail]="true"
     (onCheckAll)="setAll($event)"
     (onViewDetailClick)="viewDetailCall($event)">
    </app-grid-table>
</div>
