

<div class="row">.</div>
<div class="row">

  <div class="col">
    <h5>Claim Registeration for {{ this.empData.firstName }}</h5>
  </div>

</div>

<div class="row">
  <div class="col-3"></div>
  <div class="col-6">

    <form [formGroup]="claimForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="claimNo">Claim Number</label>
        <input type="text" formControlName="claimNo" class="form-control" />
      </div>

      <div class="form-group">
        <label for="claimDate">Claim Date</label>
        <input type="text" formControlName="claimDate" class="form-control" />
    </div>

    <div class="form-group">
      <label for="claimAmt">Claim Amt</label>
      <input type="text" formControlName="claimAmt" class="form-control" />
  </div>

 <div class="form-group">
  <label for="status">Status</label>
  <select formControlName="status" class="form-control chosen-select">
      <option class='option dropdown-item'
                *ngFor='let el of claimStatus'
                [value]="el.value">{{el.option}}</option>
  </select>
</div>

<div class="form-group">
  <label for="priority">Priority</label>
  <select formControlName="priority" class="form-control chosen-select">
    <option class='option dropdown-item'
              *ngFor='let el of claimPriority'
              [disabled]="el.value==''"
              [value]="el.value">{{el.option}}</option>
</select>
</div>

<div class="form-group">
  <label for="type">Type</label>
  <select formControlName="type" class="form-control chosen-select">
    <option class='option dropdown-item'
              *ngFor='let el of claimType'
              [disabled]="el.value==''"
              [value]="el.value">{{el.option}}</option>
</select>
</div>

<div class="form-group">
  <button [disabled]="loading" class="btn btn-primary">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Submit
  </button>
  <a routerLink="/emplist" class="btn btn-link">Cancel</a>
</div>

    </form>




  </div>
  <div class="col-3"></div>


</div>
