<div>
Registerd User

 <div class="row">

  <div class="col">
  Organisation Name :
  </div>
  <div class="col">
    {{this.userData.orgName}}
  </div>
  <div class="col">

  </div>
  <div class="col">

  </div>


 </div>
 <div class="row">

  <div class="col">
    Address
  </div>
  <div class="col">
    {{this.userData.address}}
  </div>
  <div class="col">

  </div>
  <div class="col">

  </div>


 </div>
 <div class="row">

  <div class="col">
    Email Id :
  </div>
  <div class="col">
    {{this.userData.emailID}}
  </div>
  <div class="col">

  </div>
  <div class="col">

  </div>


 </div>
 <div class="row">

  <div class="col">

  </div>
  <div class="col">

  </div>
  <div class="col">

  </div>
  <div class="col">

  </div>


 </div>
 <div class="row">

  <div class="col">

  </div>
  <div class="col">

  </div>
  <div class="col">

  </div>
  <div class="col">

  </div>


 </div>

 <div class="row">
Employees List of  :  {{this.userData.orgName}}
 </div>
 <div class="row">

  <app-grid-table [headers]="headers" [rows]="rows" [showCheckBox]="false" >
  </app-grid-table>
 </div>



</div>
