<h2>Register</h2>
<div class="row">
  <div class="col-3"></div>
  <div class="col-6">



<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="orgName">Organization</label>
        <input type="text" formControlName="orgName" class="form-control" [ngClass]="{ 'is-invalid': submitted && this.registerForm.controls['orgName'].errors }" />
        <div *ngIf="submitted && this.registerForm.controls['orgName'].errors" class="invalid-feedback">
            <div *ngIf="this.registerForm.controls['orgName'].errors['required']">Organization is required</div>
        </div>
    </div>

    <div class="form-group">
        <label for="address">Address</label>
        <input type="text" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && this.registerForm.controls['address'].errors }" />
        <div *ngIf="submitted && this.registerForm.controls['address'].errors" class="invalid-feedback">
            <div *ngIf="this.registerForm.controls['address'].errors['required']">Address is required</div>
        </div>
    </div>

    <div class="form-group">
        <label for="mobileNo">Mobile</label>
        <input type="text" formControlName="mobileNo" class="form-control" [ngClass]="{ 'is-invalid': submitted && this.registerForm.controls['mobileNo'].errors }" />
        <div *ngIf="submitted && this.registerForm.controls['mobileNo'].errors" class="invalid-feedback">
            <div *ngIf="this.registerForm.controls['mobileNo'].errors['required']">Mobileno  is required</div>
        </div>
    </div>

    <div class="form-group">
        <label for="roleID">Role</label>
        <select formControlName="roleID" class="form-control chosen-select">
            <option class='option dropdown-item'
                      *ngFor='let el of roleID'
                      [disabled]="el.value==''"
                      [value]="el.value">{{el.option}}</option>
        </select>
    </div>

    <div class="form-group">
        <label for="emailID">Email</label>
        <input type="text" formControlName="emailID" class="form-control" [ngClass]="{ 'is-invalid': submitted && this.registerForm.controls['emailID'].errors }"/>
        <div *ngIf="submitted && this.registerForm.controls['emailID'].errors" class="invalid-feedback">
            <div *ngIf="this.registerForm.controls['emailID'].errors['required']">Email is required</div>
        </div>
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && this.registerForm.controls['password'].errors }" />
        <div *ngIf="submitted && this.registerForm.controls['password'].errors" class="invalid-feedback">
            <div *ngIf="this.registerForm.controls['password'].errors['required']">Password is required</div>
            <div *ngIf="this.registerForm.controls['password'].errors['minlength']">Password must be at least 6 characters</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Register
        </button>
        <a routerLink="/login" class="btn btn-link">Cancel</a>
    </div>
</form>
</div>
<div class="col-3"></div>

</div>
